In [8]:
import pandas as pd

In [9]:
# Mercy codes starts here
#practice branching

In [10]:
# Mercy codes ends here

In [11]:
# Ash codes starts here

#Ash just adding some notes
print("Ash is doing this")
#Note 1
#Note 2
#Note 3

Ash is doing this

In [12]:
# Ash Codes ends here

In [13]:
# Onome codes starts here

In [38]:
# Take in all of Quality of Life data and read it into pandas

quality_of_life_2012 = "./Resources/2012_Quality_of_life_data.csv"
quality_of_life_2013 = "./Resources/2013_Quality_of_life_data.csv"
quality_of_life_2014 = "./Resources/2014_Quality_of_life_data.csv"
quality_of_life_2015 = "./Resources/2015_Quality_of_life_data.csv"
suicide_rates = "./Resources/suicide-death-rates-by-sex.csv"

quality_of_life_2012 = pd.read_csv(quality_of_life_2012)
quality_of_life_2013 = pd.read_csv(quality_of_life_2013)
quality_of_life_2014 = pd.read_csv(quality_of_life_2014)
quality_of_life_2015 = pd.read_csv(quality_of_life_2015)
suicide_rates = pd.read_csv(suicide_rates)

suicide_rates

,Entity,Code,Year,"Female (deaths per 100,000)","Male (deaths per 100,000)","Both sexes (deaths per 100,000)"
0,Afghanistan,AFG,1990,5.46,14.75,10.318504
1,Afghanistan,AFG,1991,5.43,14.81,10.327010
2,Afghanistan,AFG,1992,5.38,14.80,10.271411
3,Afghanistan,AFG,1993,5.41,15.02,10.376123
4,Afghanistan,AFG,1994,5.50,15.34,10.575915
...,...,...,...,...,...,...
6771,Zimbabwe,ZWE,2013,15.62,43.91,28.361200
6772,Zimbabwe,ZWE,2014,15.36,42.60,27.605547
6773,Zimbabwe,ZWE,2015,14.96,42.22,27.197061
6774,Zimbabwe,ZWE,2016,14.77,41.69,26.839591
6775,Zimbabwe,ZWE,2017,14.49,41.08,26.391769

In [ ]:
# Merge the first two datasets on "quality of life"

In [ ]:
# Onome codes ends herd

In [ ]:
# Stacey starts here
#Hi it's me I finally did it!

In [ ]:
#Stacey ends here